</br>
<div class="card text-center container">
  <div class="card-header" align="left">
    <h4>제목: <%= @post.title %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span style="float:left;">작성자 : <%= @post.user.email %></span> <span style="float:right;">조회수 :
        <%= @post.hit %></span>
    </li>
    <div class="card-body">
      <p class="card-text"><%= @post.body %></p>
    </div>

    <li class="list-group-item">
      <div style="text-align:center">
        <%= render partial:"posts/show.html.erb"%>
      </div>
    </li>

    <div class="card-footer text-muted" , align="right">
      <% if current_user.nil? %>
      <% elsif current_user.email == @post.user.email %>
      <button>
        <%= link_to "수정", edit_post_path(@post.id) %>
      </button>
      <button>
        <%= link_to "삭제", post_path(@post.id), method: :DELETE %>
      </button>
      <% end %>
      <button>
        <%= link_to "돌아가기", posts_path %>
      </button>
    </div>
</div>