<%= form_for @post do |f| %>
<div class="card text-center container">
  <div class="card-header" align="left">
    <%= f.label :제목 %>
    <%= f.text_area :title, class: "form-control", placeholer: "title" ,cols: "30", rows: "1" %><br />
  </div>
  <div class="card-body" align="left">
    <%= f.label :내용 %><br />
    <%= f.text_area :body, class: "form-control", placeholer: "body", cols: "30", rows: "10" %>
  </div>
  <br />
  <div class="row form-group">
    <div class="col-md-12">
      <%= f.file_field :avatar, class: "form-control" %>
    </div>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :hit, value: 1 %>
  <div class="card-footer text-muted" , align="right">
    <%= f.submit "작성하기"%>
    <button>
      <%= link_to "돌아가기", posts_path %>
    </button>
  </div>
</div>

</div>
<% end %>